@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


/* shared styles */
.display-flex{
    display: flex;
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.bg-light{
    background-color: #111111;
    
}
.des{
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
}
.habit-part{
    text-align: center;
}
.habit-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.habit-des, .hab-card-des{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
}
.brand{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-links{
    border: 1px solid crimson;
    border-radius: 35px;
    padding: 12px 24px;
    max-width: 464px;
    /* align-items: center; */
}
.home{
    border: 1px solid;
    border-radius: 10px;
    padding: 12px 30px;
    background-color: #E6533C;
    border: none;
    
}
.navbar, .banner, .habits, .run, .team, .foot, .cal-box{
    max-width: 1060px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 520px;
    
}
.banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: #FFFFFF;
}
.btn2{
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFFFFF;
    background-color: #111111;
}
.button{
    gap: 14px;
}
.banner-img{
    width: 100%;
}
.img-ban{
    max-width: 350px;
    height: 580px;
}
.banner{
    gap: 95px;
}

/* habit style */
.habit-content{
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.habit-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.habit-content{
    margin-bottom: 50px;
}
.hab-card-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0px;
    color: #FFFFFF;
}
.hab-card-des{
    margin-top: 0px;
}
.habit{
    width: 230px;
    height: 274px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* run-style */
.run-content{
    max-width: 440px;
    padding: 40px 55px;
}

.run{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 18px;
    gap: 140px;
}
.run-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    /* width: 100%; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
    border-radius: 35px;
    
}


.btn2{
    width: 224px;
    background-color: #E6533C;
    border: none;
}
.run-title{
    margin-bottom: 20px;
}
.run-des{
    margin-bottom: 50px;
}
/* calculator style */
.cal-content{
    max-width: 670px;
    margin: 0 auto;
}
.calculater{
    background-color: rgba(48, 48, 48, 0.54);
    height: 490px;
   
}
.calbox-container{
  padding: 50px 50px;
}

table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
}
.td-color{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}
.th-color{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    
}
.padding{
    padding: 12px 50px 10px 8px;
}
.box1h2{
    font-size: 1.75rem;
    color: #FFFFFF;
}

.box1{
    max-width: 310px;
  
}
.btn-pri{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 70px;
    border-radius: 42px;
    border: none;
}
.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 34px;
    margin-bottom: 28px;
}
.cal-box2{
    max-width: 577px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cal-box{
    gap: 80px;
}


.form-backcolo{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 12px 50px 12px 15px;
    border: none;
}
#select{
    grid-column: span 2;
}
.formtext-color{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

/* team style */

.team-img{
    /* max-width: 950px; */
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(48, 48, 48, 0.54);
}
.team-img-design{
    width: 327px;
    height: 272px;
    border-radius: 18px;
}
.team-content{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}
/* foot */
.foot-table{
    max-width: 440px;
    /* height: 176px; */
    margin-bottom: 73px;
}
.foot-input{
    max-width: 514px;
    gap: 120px;
}
.foottitle{
    color: #E6533C;
    font-size: 4.2rem;  
    font-weight: 800;
    margin-bottom: 0px;
}
.Get-Started{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}
.lists{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    list-style: none;
    margin-left: 0px;

}
.foot{
    align-items: center;
    gap: 100px;
    height: 250px;
    margin: 60px 170px 190px 190px;
}
.cal-box{
    margin-top: 88px;
}
.footerr{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    width: 318px;
    margin: 0 auto;
    padding-bottom: 35px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .banner, .habit-container,.run, .foot, .foot-input, .cal-box{
        flex-direction: column;
    }
    .habit-container, .team-img{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .run{
        gap: 1px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .run-img{
        padding-top: 0px;
        margin-left: 20px;
    }
    .foot, .foot-input{
        gap: 2px;
        margin: 0px;
    }

}